{
    "plugins": [
        "macros",
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "Components": "src/components",
                "Helpers": "src/helpers",
            }
        }]
    ],
}